.app-container {
  display: flex; /* Flexboxを有効にする */
  flex-direction: column; /* 子要素を縦に並べる */
  min-height: 100vh; /* コンテナ全体の高さを最低でも画面の高さ100%にする */
}

main {
  flex-grow: 1; /* main要素が利用可能な残りのスペースをすべて埋めるように伸びる */
}