@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

:root {
  --font-base: 'Noto Sans JP', sans-serif;
  
  --color-background: #f7f7f7; /* 少しだけグレーがかった背景 */
  --color-surface: #ffffff;
  --color-text-primary: #222222;
  --color-text-secondary: #555555;
  --color-border: #eeeeee;
  --color-accent: #333333; /* アクセントカラー */
}

body {
  margin: 0;
  font-family: var(--font-base);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
}